@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap');

.footerContainer {
  background-color: rgb(10, 2, 56);;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8.5rem;
}

.iconContainer {
  display: flex;  
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.mr {
  margin-right: 4rem;
}

.footerHeader {
  width: 25%;
  margin-top: 1rem;
}

.footerTextStyles {
  color: whitesmoke;
  font-family: 'JetBrains Mono', monospace;
  margin-left: 4.5rem;
}

.footerWrapper {
  display: flex;
  justify-content: center;
  margin-left: 6rem;
}