@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');


.container {
  font-family: 'JetBrains Mono', monospace;
  box-sizing: border-box;
  padding: 0;
  width: 100vw;
}


@keyframes gradient {
  0% {
      background-position: 0%;
  }
  50% {
      background-position: 100%;
  }
  100% {
      background-position: 0%;
  }
}

.customRow {
  background-color: #000000;
  height: 35vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.customRowSmall {
  background-color: #000000;
  height: 17.5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.square {
  width: 15px;
  height: 15px;
 background: linear-gradient(-45deg, #000000 0%, #000000 13%, #000000 25%, #000000 38%, #ee07ee 50%, #f5f2f2 62%, #02d5fa 75%, #000000 87%, #000000 95%, #000000 100%);
  background-size: 400% 400%;
  animation: gradient 10.5s ease infinite;
}

.circle {
  width: 13.5px;
  height: 13.5px;
 background: linear-gradient(-45deg, #000000 0%, #000000 13%, #000000 25%, #02d5fa 38%, #f5f2f2 50%, #ee07ee 62%, #000000 75%, #000000 87%, #000000 100%);
  background-size: 400% 400%;
  animation: gradient 16s ease infinite;
  border-radius: 10px;
}

.text {
  background-color: black;
  color: whitesmoke;
  font-size: 25px;
}

.projectGallery {
  width: 100vw;
}

.projectGalleryHeader {
  display: flex;
  justify-content: center;
  align-self: center;
  color: whitesmoke;
  background-color: #000000;
  font-size: 30px;
  padding-top: 1rem;
  padding-bottom: .75rem;
  text-decoration: underline;
}

.sectionHeader2 {
  display: flex;
  text-decoration: underline;
  justify-content: center;
  align-self: center;
  color: whitesmoke;
  font-size: 20px;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  width: 100vw;
}


.skillGallery {
  width: 100vw;
  height: 145vh;
  padding-top: 3rem; 
  background-color: rgb(139, 170, 236);
}

.iconRow2 {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top: 1rem;
  margin-left: 40rem;
  width: 35vw;
}

.iconRow3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 15rem;
  margin-right: 15rem;
}

.iconRow4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30rem;
  margin-right: 30rem;
}

.iconRow5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 41rem;
  margin-right: 41rem;
}

.iconRow6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
}

.npmI {
  margin-top: 1.5rem !important;
}

.mongStyles {
  padding-right: 6rem !important;
}

.contactSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #000000;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 476px and below) */
@media (max-width: 476px) {
  .container {
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
  } 
  .customRow {
    background-color: #000000;
    height: 37vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
  }
  .text {
    background-color: black;
    color: whitesmoke;
    font-size: .7em;
  }
  .projectGallery {
    width: 100vw;
  }
  .skillGallery {
    width: 100vw;
    height: 100vh;
    padding-top: 3rem; 
    background-color: rgb(212, 206, 245);
  }

  .iconRow2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .25rem 0rem .25rem;
    margin: 0px 0px 0px 0px;
    width: 100vw;
  }

  .iconRow3 {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    margin: 0px 0px 0px 30px;
    width: 80vw;
  }
  
  .iconRow4 {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .iconRow5 {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .iconRow6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .column1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    height: 10vh;
  }
  
  .column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    height: 25vh;
  }
  
  .npmI {
    margin-top: 1.5rem !important;
  }
  
  .mongStyles {
    padding-right: 6rem !important;
  }
  .sectionHeader2 {
    width: 100vw;
    font-size: .75em;
    text-decoration: none;
  }
  .square {
    opacity: 0;
    height: 0px;
    width: 0px;
  }
  .circle {
    opacity: 0;
    height: 0px;
    width: 0px;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }