@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap');

.mainContainer {
  height: 80vh;
  width: 100%;
  background-color: rgb(241, 226, 204);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 1rem;
  margin-top: 4.15rem;
  margin-left: 2rem;
  align-items: baseline;
  font-family: 'JetBrains Mono', monospace;
  padding-left: 1rem;
}


.text {
  margin-top: .5rem;
  margin-left: 2rem;
  font-family: 'JetBrains Mono', monospace;
  font-size: smaller;
  padding-bottom: 1rem;
}


.bulletPoints {
  margin-top: .5rem;
  margin-left: 4rem;
  font-family: 'JetBrains Mono', monospace;
  font-size: smaller;
  padding-bottom: 1rem;
}

.linkRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.sectionHeaderText {
  color: rgb(22, 3, 131);
}

.row1 {
  display: flex;
  justify-content: space-between;
}

.iconRow {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 476px) and (min-width: 0px) {
  .mainContainer {
    height: 110vh;
  }
  .bulletPoints {
    margin-left: .25rem;
  }
}

@media only screen and (max-width: 769px) and (min-width: 477px) {
  .mainContainer {
    height: 120vh;
  }
  .bulletPoints {
    margin-left: .25rem;
  }
}